<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Important to make website responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Game Shop</title>

    <!-- Link our CSS file -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- Navbar Section Starts Here -->
    <section class="navbar">
        <div class="container">
           

            <div class="menu text-right">

                

                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="products.html">Products</a>
                    </li>
                    <li>
                        <a href="pricing.html">Pricing</a>
                    </li>
                    <li>
                        <a href="contactus.html">Contact Us</a>
                    </li>
                </ul>
            </div>

            <div class="clearfix"></div>
        </div>
    </section>
    <!-- Navbar Section Ends Here -->


    <!-- Order now section Starts Here -->
    <section class="product-search">
        <div class="container">
            
            <h2 class="text-center text-white">Fill this form to confirm your order.</h2>
            <p  class="text-center text-white"> Please Make Paymet to this number 01234567890 to Confirm your Order.
               <br><br> Your Game/Wallet code will be sent to you via email
            </p>

            <form action="#" class="order">
                
                
                <fieldset>
                    <legend>Confirm Order.
                    
                    </legend>
                    <div class="order-label">Product Name</div>
                    <input type="text" name="product-name" placeholder="" class="input-responsive" required>

                    <div class="order-label">Quantity</div>
                    <input type="text" name="quantity" placeholder="" class="input-responsive" required>

                    <div class="order-label">Name</div>
                    <input type="text" name="full-name" placeholder="" class="input-responsive" required>

                    <div class="order-label">Phone Number</div>
                    <input type="tel" name="contact" placeholder="" class="input-responsive" required>

                    <div class="order-label">Email</div>
                    <input type="email" name="email" placeholder="" class="input-responsive" required>
                   
                    <div class="order-label">Transaction ID</div>
                    <input type="text" name="transaction_id" placeholder="" class="input-responsive" required>

                 
                </fieldset>

            </form>
            <a href="thankyou.html" class="btn btn-primary middle">Order Now</a>
           
        </div>
    </section>
    <!-- Order Now Section Ends Here -->

   

   <!-- footer Section Starts Here -->
   <section class="footer">
    <div class="container text-center">
        <p>All rights reserved - <a href="#">Online Game Shop</a> | Designed & Developed by - <a href="#"> Md Rifat Rahman</a></p>
        
    </div>
</section>
<!-- footer Section Ends Here -->

</body>
</html>