<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Important to make website responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Game Shop</title>

    <!-- Link our CSS file -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- Navbar Section Starts Here -->
    <section class="navbar">
        <div class="container">
           

            <div class="menu text-right">

                

                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="products.html">Products</a>
                    </li>
                    <li>
                        <a href="pricing.html">Pricing</a>
                    </li>
                    <li>
                        <a href="contactus.html">Contact Us</a>
                    </li>
                </ul>
            </div>

            <div class="clearfix"></div>
        </div>
    </section>
    <!-- Navbar Section Ends Here -->


    <!-- Order now section Starts Here -->
    <section class="product-search">
        <div class="container">
            
            <h2 class="text-center text-white">Thank you for your order!
                <br> <br> Have an Amazing Day!
            </h2>
            
               
            </p>


        </div>
    </section>
    <!-- Order Now Section Ends Here -->

   

   <!-- footer Section Starts Here -->
   <section class="footer">
    <div class="container text-center">
        <p>All rights reserved - <a href="#">Online Game Shop</a> | Designed & Developed by - <a href="#"> Md Rifat Rahman</a></p>
        
    </div>
</section>
<!-- footer Section Ends Here -->

</body>
</html>